extends includes/layout.pug
block content
    .wrapper_join 
        form#form_join(action="/register", method="post") 
            label(for='name')
            input#name.form-control(type="text", name="name", placeholder="이름을 입력하세요", required=true)
            br
            .mb-3

            label(for='email')
            input#email.form-control(type="email", name="email", placeholder="이메일을 입력하세요", required=true)
            br
            .mb-3

            label
            input#name.form-control(type="text", name="id", placeholder="아이디를 입력하세요", required=true)
            br
            .mb-3

                
            label
            input#name.form-control(type="password", name="pw", placeholder="비밀번호를 입력하세요", required=true)
            br
            .mb-3

                
            label
            input#name.form-control(type="password", name="pw2", placeholder="비밀번호를 한 번 더 입력하세요", required=true)
            br
            .mb-3

            button.btn.btn-light.btn-block(type="submit") 회원가입