extends includes/layout.pug
block content
    .list-group
        each val in for_front_h
            a.list-group-item.list-group-item-action( aria-current='' )
                .d-flex.w-100.justify-content-between
                div
                    h3.mb-1= JSON.stringify(val.rank) + "위"
                    h3.mb-1= JSON.stringify(val.name)
                    h5.mb-1= val.ADDRESS1
                    h5= JSON.stringify(val.IMAGE1)
                br
                br
                div
                    img(src= val.IMAGE1 style='width : 300px; height : 300px; float:left; margin-right:20px;')
                    //- img(src= val.IMAGE2 style='width : 200px; height : 200px;')
                br
                br
                form(action="/user_choice_hotel", method="post")
                    //- input(type="checkbox", name="user_choice", value=JSON.stringify(val.id))
                    button.btn.btn-warning.float-right.mr-3(type="submit" name="user_choice_hotel" value=val.id) 이 숙박시설로 선택!
                button.btn.btn-dark.float-right.mr-3(type="submit" data-toggle="collapse" data-parent="#accordion" href= `#${val.rank}`) 자세히 보기
                br
                p.mb-1= "총 점수 :  10점 만점에 " + val.rscore
                br
                
                br
                br
                .panel-collapse.collapse.in(id=`${val.rank}`)
                    .panel-body
                        h6= "| 상세 정보 : " + val.TYPE
                        br
                        br
                        h6= "| 편의시설 정보 : " + val.EXIT