extends includes/layout.pug
block content
    .list-group
        each val in for_front_r
            a.list-group-item.list-group-item-action( aria-current='' )
                .d-flex.w-100.justify-content-between
                div
                    h3.mb-1= JSON.stringify(val.rank) + "위"              
                    h3.mb-1= JSON.stringify(val.name)
                    h3.mb-2= val.ADDRESS1
                br
                br
                div
                    img(src= val.IMG1 style='width : 200px; height : 200px; float:left; margin-right:20px;')
                    //- img(src= val.IMAGE2 style='width : 200px; height : 200px;')
                br
                br
                form(action="/user_choice_res", method="post")
                    //- input(type="checkbox", name="user_choice", value=JSON.stringify(val.id))
                    button.btn.btn-warning.float-left.mr-3(type="submit" name="user_choice_res" value=val.id) 이 음식점으로 선택!
                button.btn.btn-dark.float-left.mr-3(type="submit" data-toggle="collapse" data-parent="#accordion" href= `#${val.rank}`) 자세히 보기
                br
                p.mb-1= "총 점수 : " + val.rscore
                p.mb-2 (＊10점 만점)
                br
                br
                br
                .panel-collapse.collapse.in(id=`${val.rank}`)
                    .panel-body
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        h6.detail= "| 상세 정보 : " + val.TYPE
                        br
                        h6.detail= "| 편의시설 정보 : " + val.EXIT