extends includes/layout.pug
block content
    //- form
    //-     input(type='button' class='t1' onClick='history.go(-1)')
    //-     input(type='button' class='t2' onClick='history.go(1)')

    .list-group
        each val in for_front_h
            a.list-group-item.list-group-item-action( aria-current='' )
                .d-flex.w-100.justify-content-between
                div
                    h3.mb-1= JSON.stringify(val.rank) + "위"
                    h3.mb-1= JSON.stringify(val.name)
                    h3.mb-2= val.ADDRESS1
                    //- h5= JSON.stringify(val.IMAGE1)
                br
                br
                div
                    img(src='./images/p3.jpg' style='width : 200px; height : 200px; float:left;')
                    //- img(src= val.IMAGE2 style='width : 200px; height : 200px;')
                br
                br
                form(action="/user_choice_hotel", method="post")
                    //- input(type="checkbox", name="user_choice", value=JSON.stringify(val.id))
                    button.btn.btn-warning.float-left.mr-3(type="submit" name="user_choice_hotel" value=val.id) 이 숙박시설로 선택!
                button.btn.btn-dark.float-left.mr-3(type="submit" data-toggle="collapse" data-parent="#accordion" href= `#${val.rank}`) 자세히 보기
                br
                p.mb-1= "총 점수 : " + val.rscore
                p.mb-2 (＊10점 만점)
                br
                br
                br
                .panel-collapse.collapse.in(id=`${val.rank}`)
                    .panel-body
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        h6.detail= "| 상세 정보 : " + val.TYPE
                        br
                        h6.detail= "| 편의시설 정보 : " + val.EXIT