extends layout.pug
block content
    .info-container
        ul
            each val in for_front_t
                li= JSON.stringify(val.rank) + "위"
                li= JSON.stringify(val.name)
                li= "총 점수는 10점 만점에 " + JSON.stringify(val.rscore)
                li= "상세정보: " + JSON.stringify(val.DETAIL)
                form(action="/trying", method="post")
                    label 이걸로 선택합니다!
                    input(type="checkbox", name="user_choice", value=JSON.stringify(val.id))
                    button(href="/tryingres", type="submit") 선택
                    a(href="/tryingres") 음식점 선택하러 가기 !
            else 
                li 값이 안보여요!
