extends includes/layout.pug
block content
        h5 최종 추천 코스
        .wrapper_total_last
            ul.tour
                li.rank_1_tour 1.관광지
                li.tname= uc[0].NAME
                li.taddress= uc[0].ADDRESS1
                img.tour(src= uc[0].IMAGE1 style='width : 350px; height : 250px; float:left; margin-right:20px;')
                li.ttype= '| 상세정보: '
                li.ttype= uc[0].DETAIL
                br
                li.ttype= '| 편의시설 정보: '
                li.ttype= uc[0].EXIT
        -if (uc[1] != null)
            ul.res 
                li.rank_1_res 2.음식점
                li.rname= uc[1].NAME
                li.raddress= uc[1].ADDRESS1
                img.rest(src= uc[1].IMG1 style='width : 350px; height : 250px; float:right; margin-right:20px;')
                li.rtype= '| 상세정보: '
                li.rtype= uc[1].TYPE
                br
                li.rtype= '| 편의시설 정보: '
                li.rtype= uc[1].EXIT
                //- button#con 편의시설 확인하기
        -if (uc[2] != null)
            ul.hotel
                li.rank_1_hotel 3.숙박시설
                li.hname= uc[2].NAME
                li.haddress= uc[2].ADDRESS1
                img.hotel(src='./images/p3.jpg' style='width : 350px; height : 250px;')
                li.htype= '| 상세정보: '
                li.htype= uc[2].TYPE
                br
                li.htype= '| 편의시설 정보: '
                li.htype= uc[2].EXIT
            
        //-     img(src="./images/p1.jpg" width="310")
        //-     img(src="./images/p2.jpg" width="320")
        //-     img(src="./images/p3.jpg" width="295")